@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Poppins:wght@100;300;400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.pdf_container{
    max-width: 595px;
    height: 842px;
    background-color: #fff;
    margin: 0 auto;
}

.container{
    max-width: 459px;
    margin: 0 auto;
}

.pdf_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0 28px;
}

.pdf_title img{
    max-width: 39px;
    object-fit: contain;
}

.pdf_title h2{
    font-size: 32px;
    font-weight: 900;
    line-height: 0;
}

.table_details{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #8B8B8B;
    padding-bottom: 5px;
}

.detail_left{
    display: flex;

}

.table_details{
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
}

.colon{
    padding: 0 3px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #F9F9F9;
    margin-top: 39px;
  }

  th{
      font-size: 12px;
      background: #D9D9D9;
      font-weight: 400;

  }

  td{
      font-size: 10px;
      line-height: 12.1px;
  }
  
  td, th {
    text-align: left;
    padding: 9px;

  }
  
  tr:nth-child(even) {
    background-color: #F1F1F1;

  }